<?xml version="1.0"?>
<config>
    <modules>
        <TnetDev_GuzzleMage>
            <version>0.1.0</version>
        </TnetDev_GuzzleMage>
    </modules>
    <global>
        <composer_vendor_path><![CDATA[{{root_dir}}/../vendor]]></composer_vendor_path>
        <models>
            <tnetdev_guzzlemage>
                <class>TnetDev_GuzzleMage_Model</class>
            </tnetdev_guzzlemage>
        </models>
        <helpers>
            <tnetdev_guzzlemage>
                <class>TnetDev_GuzzleMage_Helper</class>
            </tnetdev_guzzlemage>
        </helpers>
    </global>
    <frontend>
        <routers>
            <tnetdev_guzzlemage>
                <use>standard</use>
                <args>
                    <module>TnetDev_GuzzleMage</module>
                    <frontName>guzzlemage</frontName>
                </args>
            </tnetdev_guzzlemage>
        </routers>
    </frontend>
    <default>
        <credentials>
            <github>
                <username></username>
                <password></password>
            </github>
        </credentials>
    </default>
</config>